@model List<treatwell.ViewModels.CatSubViewModel>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
    .pointer {
        cursor: pointer;
    }
  
</style>

<div class="collapse navbar-collapse"  id="navbarTogglerDemo02" [ngbCollapse]="false">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        @foreach (var vm in Model)
        {
            <li class="nav-item active">
                <a class="cursor: pointer nav-link" data-toggle="collapse" data-target="#@vm.category.Id">@vm.category.CatDesc</a>
            </li>

            <br />
            <br />
            <br />
            <div id="@vm.category.Id" class="collapse container-fluid" style="
        z-index: 11;
             position: absolute;
             left: 0;
             right: 0;
             margin-top: 46px;
             overflow-y: auto;
             max-height: calc(100vh - 80px);"


            <div>
                <div class="card">
                    <div style="background-color: #f2f2f2;" class="card-body">
                        <div style="margin-left:69px" class="row">
                            <div style="line-height: 30px;" class="col-sm-3">
                                @foreach (var vmsub in vm.subCategories)
                                {
                                    <a style="text-decoration:none;color: hsl(0, 0%, 30%);" onclick="@("window.location.href='" + Url.Action("InnerPage", "App", new { id = vmsub.Id }) + "'");">@vmsub.SubCatDesc</a><br>
                                }
                            </div>
                            <div style="border: 2px solid #e2e2e2; margin-left: 103px; padding:0px !important; background-color: white " class="col-sm-3">
                                <a style="text-decoration: none" href="google.com">
                                    <img class="img-fluid img-responsive" src="~/CientApp/app/assets/image/twell_hair.jpg" />
                                    <h6 style="text-decoration: none ;color:#666; letter-spacing: 1px; padding:10px">Last minute? Cuts near you</h6>
                                </a>

                            </div>
                            <div style=" padding-left: 30px"><span></span></div>
                            <div style="border: 2px solid #e2e2e2; padding:0px !important; background-color: white " class="col-sm-3">
                                <a style="text-decoration: none" href="google.com">
                                    <img class="img-fluid img-responsive float:right" src="~/CientApp/app/assets/image/twell_face2.jpg" />
                                    <h6 style="text-decoration: none ;color:#666; letter-spacing: 1px; padding:10px">Hair treatments : the lowdown</h6>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
        <li class="nav-item">
            <a onclick="@("window.location.href='"+ Url.Action("Discount","App") +"'");" class="nav-link">NEW SALON DISCOUNT</a>
        </li>
        <li class="nav-item">
            <a onclick="@("window.location.href='"+ Url.Action("Business","App") +"'");" class="nav-link">THE TREATMENT FILES</a>
        </li>

        </ul>

        
    </div>
