@model treatwell.Models.ProdsUsedInSubCat

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Venue Services</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCat.SubCatDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCat.SubCatDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyUsed)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
